.row {
    color: gray;
}

.item, .position {
    text-align: left;
}

.total, .change {
    text-align: right;
}

.focus {
    color: black;
}


.play {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 12px solid #000;
    border-bottom: 8px solid transparent;
}
.pause {
    width: 4px;
    height: 16px;
    border-right: 4px solid #000;
    border-left: 4px solid #000;
}

.disabled {
    color: gray;
}

li {
    list-style-type: none;
    list-style-position:inside;
    border-bottom: 1px dashed lightgrey;
}

@keyframes victory {
    0% {background-color: transparent;}
    50% {background-color: lightgreen;}
    100% {background-color: transparent;}
}

@keyframes draw {
    0% {background-color: transparent;}
    50% {background-color: lightgoldenrodyellow;}
    100% {background-color: transparent;}
}

@keyframes defeat {
    0% {background-color: transparent;}
    50% {background-color: lightpink;}
    100% {background-color: transparent;}
}
