/* RESET */
html{overflow-y: scroll;height: 100%;}
body{height: 100%;margin: 0;}
a img{border:none;}
:focus{outline: 0 none;}
h1,h2,h3,h4,h5,h6{margin:0;}
ul{margin:0;padding:0;list-style:none;}
table,th,td{vertical-align:middle;border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
caption, th{text-align:left;font-weight: normal;}
section,article,aside,figure,footer,header,hgroup,nav {display: block;}
header,
section,
div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.replayTable{
    font-size: 1.4rem;
    font-family: 'Helvetica', sans-serif;
}

.replayTable:after{
    content: '';
    display: block;
    clear: both;
}

.replay-table-wrap{
    margin-bottom: 8rem;
    float: left;
    min-width: 30rem;
}
.replay-table-wrap .replay-table-sub-head{
    font-size: 1.6rem;
    font-family: 'Roboto';
    font-weight: normal;
    margin-bottom: 2rem;
}

.replay-table-controls{
    padding-bottom: 2rem;

}
.replay-table-controls:after{
    content: '';
    display: block;
    clear: both;
}
.replay-table-wrap .replay-table-select,
.replay-table-wrap .next,
.replay-table-start-control{
    display: inline-block;
    vertical-align: middle;
}
.replay-table-wrap .pause,
.replay-table-wrap .play,
.replay-table-wrap .previous,
.replay-table-wrap .next,
.replay-table-wrap .replay{
    cursor: pointer;
}

.replay-table-start-control{
    width: 1.6rem;
    height: 1.8rem;
    margin-right: 2rem;
}
.replay-table-wrap .pause,
.replay-table-wrap .pause.disabled:hover{
    width: 1.2rem;
    height: 1.8rem;
    border-right: 0.4rem solid #bababa;
    border-left: 0.4rem solid #bababa;
}
.replay-table-wrap .play,
.replay-table-wrap .play.disabled:hover{
    position: relative;
    top: -3px;
    width: 0;
    height: 0;
    border-top: 1.2rem solid transparent;
    border-left: 1.8rem solid #bababa;
    border-bottom: 1.2rem solid transparent;
}

.replay-table-wrap .previous,
.replay-table-wrap .previous.disabled:hover,
.replay-table-wrap .next,
.replay-table-wrap .next.disabled:hover{
    position: relative;
    display: inline-block;
    vertical-align: middle;

    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0;
    border-top: 0.3rem solid  #bababa;
    border-right: 0.3rem solid  #bababa;
    box-sizing: content-box;
}
.replay-table-wrap .previous:hover,
.replay-table-wrap .next:hover{
    border-top: 0.3rem solid #a7a7a7;
    border-right: 0.3rem solid #a7a7a7;
}
.replay-table-wrap .previous{
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-right: 1rem;
}
.replay-table-wrap .next{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.replay-table-wrap .replay-table-select,
.replay-table-wrap .next{
    margin-right: 2rem;
    cursor: pointer;
}
.replay-table-wrap .replay.disabled:hover,
.replay-table-wrap .replay{
    position: relative;
    top: 1px;
    width: 1.8rem;
    height: 1.8rem;
    border: 3px solid #bababa;
    -moz-border-radius: 3rem;
    border-radius: 3rem;

/*    background: url("https://s3-us-west-2.amazonaws.com/replay-table/images/replay.png") no-repeat 0 0 / cover;*/
    /*opacity: 0.5;*/
    margin-right: 1.5rem
}
.replay-table-wrap .replay.disabled:hover:before,
.replay-table-wrap .replay:before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    border-left: 6px solid #fff;
    border-right: 6px solid #bababa;
    position: absolute;
    left: -6px;
    top: -7px;
}

.replay-table-wrap .replay:hover:before{
    border-right-color: #a7a7a7;
}
.replay-table-wrap .replay:hover{
    border-color: #a7a7a7;
    /*opacity: 0.7;*/
}
.replay-table-wrap .pause.disabled,
.replay-table-wrap .replay.disabled,
.replay-table-wrap .play.disabled,
.replay-table-wrap .previous.disabled,
.replay-table-wrap .next.disabled{
    opacity: 0.5;
    cursor: default !important;
}
.replay-table-wrap .pause:hover{
    border-right: 0.4rem solid #a7a7a7;
    border-left: 0.4rem solid #a7a7a7;
}
.replay-table-wrap .play:hover{
    border-left-color: #a7a7a7;
}


.replay-table-wrap .replay-table-select{
    width: 15rem;
    height: 2.8rem;
    background: #fff;
    font-size: 1.6rem;
    border: 2px solid #e9e9e9;
}




.replay-table-wrap .replay-table-check{
    position: relative;
    float: right;
    border: 0.2rem solid #e9e9e9;
    background: #fdfdfd;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
}
.replay-table-wrap .replay-table-check:after{
    content: '';
    display: block;
    clear: both;
}
.replay-table-wrap .replay-table-check-item{
    position: relative;
    float: right;
    background: #fdfdfd;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
}
.replay-table-check-item > input{
    opacity: 0;
    display: block;
    border: 1px solid;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.replay-table-check-item > label{
    position: relative;
    z-index: 2;
    line-height: 2.4rem;
    padding: 0.5rem 0.8rem;

    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
.replay-table-check-item > input + label{
    background: transparent;
    color: rgba(0,0,0,0.4);
}
.replay-table-check-item > input:checked + label {
    color: rgba(0,0,0,0.8);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    background: #e9e9e9;
}


.replay-table-controls-left{
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.replay-table-progress-wrap{}
.replay-table-progress-wrap .replay-table-progress{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 0.1rem !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.replay-table-progress-wrap .replay-table-progress[value]::-webkit-progress-value {
    background: #a7a7a7;
}
.replay-table-progress-wrap .replay-table-progress[value]::-webkit-progress-bar {
    background-color: #e9e9e9;
}





.replayTable .r-table{
    width: 100%;

}
.replayTable .r-table th,
.replayTable .r-table td{
    padding: 0.6rem 0.8rem;
}
.replayTable .r-table th{
    font-weight: bold;
    border-bottom: 1px dotted rgba(0,0,0,0.05);
}

.replayTable .r-table.matches,
.replayTable .r-table.matches{
    margin-top: 28px;
}
.replayTable  .r-table.item-history td.round:hover,
.replayTable .r-table.season td.item:hover,
.replayTable .r-table.matches td.team:hover{
    text-decoration: underline;
    cursor: pointer;
}
.replayTable .r-table.matches .team{
    text-align: right;
}
.replayTable .r-table.matches .team:last-child{
    text-align: left;
}
.replayTable  .r-table .score,
.replayTable  .r-table .calculated,
.replayTable  .r-table.season .total,
.replayTable  .r-table.item-history .change,
.replayTable  .r-table.item-history .total,
.replayTable  .r-table.item-history .position{
    text-align: center;
}

.replayTable  .r-table .position,
.replayTable  .r-table .total,
.replayTable  .r-table.item-history .change,
.replayTable  .r-table .calculated{
    white-space: nowrap;
    width: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.replayTable .r-table .win {
    background-color: rgba(170,255,102,0.2);
}

.replayTable .r-table .draw {
    background-color: rgba(0,0,0,0.05);
}

.replayTable .r-table .loss {
    background-color: rgba(255,158,158,0.2);
}

@keyframes replay-table-win {
    0% {background-color: transparent;}
    50% {background-color: rgba(170,255,102,0.2);}
    100% {background-color: transparent;}
}

@keyframes replay-table-draw {
    0% {background-color: transparent;}
    50% {background-color: rgba(0,0,0,0.05);}
    100% {background-color: transparent;}
}

@keyframes replay-table-loss {
    0% {background-color: transparent;}
    50% {background-color: rgba(255,158,158,0.2);}
    100% {background-color: transparent;}
}



@keyframes replay-table-green-fading-100 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.7);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-90 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.65);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-80 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.6);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-70 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.55);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-60 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.5);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-50 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.45);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-40 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.4);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-30 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.35);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-20 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.3);}
    100% {background-color: transparent;}
}

@keyframes replay-table-green-fading-10 {
    0% {background-color: transparent;}
    50% {background-color: rgba(94,179,26,0.25);}
    100% {background-color: transparent;}
}


@keyframes replay-table-green-100 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.7);}
}

@keyframes replay-table-green-90 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.65);}
}

@keyframes replay-table-green-80 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.6);}
}

@keyframes replay-table-green-70 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.55);}
}

@keyframes replay-table-green-60 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.5);}
}

@keyframes replay-table-green-50 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.45);}
}

@keyframes replay-table-green-40 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.4);}
}

@keyframes replay-table-green-30 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.35);}
}

@keyframes replay-table-green-20 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.3);}
}

@keyframes replay-table-green-10 {
    0% {background-color: transparent;}
    100% {background-color: rgba(94,179,26,0.1);}
}



@keyframes replay-table-red-fading-100 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.7);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-90 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.65);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-80 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.6);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-70 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.55);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-60 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.5);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-50 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.45);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-40 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.4);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-30 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.35);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-20 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.3);}
    100% {background-color: transparent;}
}

@keyframes replay-table-red-fading-10 {
    0% {background-color: transparent;}
    50% {background-color: rgba(179,82,82,0.1);}
    100% {background-color: transparent;}
}


@keyframes replay-table-red-100 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.7);}
}

@keyframes replay-table-red-90 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.65);}
}

@keyframes replay-table-red-80 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.6);}
}

@keyframes replay-table-red-70 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.55);}
}

@keyframes replay-table-red-60 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.5);}
}

@keyframes replay-table-red-50 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.45);}
}

@keyframes replay-table-red-40 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.4);}
}

@keyframes replay-table-red-30 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.35);}
}

@keyframes replay-table-red-20 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.3);}
}

@keyframes replay-table-red-10 {
    0% {background-color: transparent;}
    100% {background-color: rgba(179,82,82,0.1);}
}