
.replay-table-wrap{
    margin-bottom: 8rem;
}
.replay-table-wrap .replay-table-sub-head{
    font-size: 1.6rem;
    font-family: 'Roboto';
    font-weight: normal;
    margin-bottom: 2rem;
}

.replay-table-controls{
    margin-bottom: 2rem;
}
.replay-table-controls:after{
    content: '';
    display: block;
    clear: both;
}
.replay-table-wrap .pause,
.replay-table-wrap .pause.disabled:hover{
    width: 1.2rem;
    height: 1.6rem;
    border-right: 0.4rem solid rgba(0,0,0,0.3);
    border-left: 0.4rem solid rgba(0,0,0,0.3);
}
.replay-table-wrap .play,
.replay-table-wrap .play.disabled:hover{
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 1.4rem solid rgba(0,0,0,0.3);
    border-bottom: 1rem solid transparent;
}

.replay-table-wrap .previous,
.replay-table-wrap .previous.disabled:hover,
.replay-table-wrap .next,
.replay-table-wrap .next.disabled:hover{
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0;
    border-top: 0.3rem solid rgba(0,0,0,0.3);
    border-right: 0.3rem solid rgba(0,0,0,0.3);
    box-sizing: content-box;
}
.replay-table-wrap .previous:hover,
.replay-table-wrap .next:hover{
    border-top: 0.3rem solid rgba(0,0,0,0.5);
    border-right: 0.3rem solid rgba(0,0,0,0.5);
}
.replay-table-wrap .previous{
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.replay-table-wrap .next{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.replay-table-wrap .replay-table-select,
.replay-table-wrap .replay,
.replay-table-wrap .pause,
.replay-table-wrap .play,
.replay-table-wrap .previous,
.replay-table-wrap .next{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1.5rem;
    cursor: pointer;
}
.replay-table-wrap .replay.disabled:hover,
.replay-table-wrap .replay{
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    background: url("../img/replay.png") no-repeat 0 0 / cover;
    opacity: 0.5;
    margin-right: 1.8rem;
}
.replay-table-wrap .replay:hover{
    opacity: 1;
}
.replay-table-wrap .pause.disabled,
.replay-table-wrap .replay.disabled,
.replay-table-wrap .play.disabled,
.replay-table-wrap .previous.disabled,
.replay-table-wrap .next.disabled{
    opacity: 0.2;
    cursor: default;
}
.replay-table-wrap .pause:hover{
    border-right: 0.4rem solid rgba(0,0,0,0.5);
    border-left: 0.4rem solid rgba(0,0,0,0.5);
}
.replay-table-wrap .play:hover{
    border-left-color: rgba(0,0,0,0.5);
}
.replay-table-wrap .replay-table-select{
    min-width: 4rem;
    height: 2.8rem;
    background: #fff;
    font-size: 1.6rem;
    border: 1px solid #dbdbdb;
}

.replay-table-wrap .replay-table-check{
    position: relative;
    float: right;
    margin-left: 3rem;
    border: 0.2rem solid rgba(0,0,0,0.08);
    background: rgba(0,0,0,0.01);
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
}
.replay-table-wrap .replay-table-check:after{
    content: '';
    display: block;
    clear: both;
}
.replay-table-check > input{
    opacity: 0;
    display: block;
    border: 1px solid;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.replay-table-check > label{
    position: relative;
    z-index: 2;
    line-height: 2.4rem;
    padding: 0.4rem 0.8rem;

    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
.replay-table-check > input + label{
    background: transparent;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
    color: rgba(0,0,0,0.4);
}
.replay-table-check > input:checked + label {
    color: rgba(0,0,0,0.8);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5);
}


.replay-table-controls-left{
    float: left;
    margin-right: 1rem;
}
.replay-table-progress-wrap{
    overflow: hidden;
}
.replay-table-progress-wrap .replay-table-progress{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 2.8rem !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.replay-table-progress-wrap .replay-table-progress[value]::-webkit-progress-value {
    background: #efe9a7;
}






.r-table{
    width: 100%;

}
.r-table td{
    padding: 0.6rem 0;
    border-bottom: 1px dotted rgba(0,0,0,0.05);
}
.r-table th{
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px double rgba(0,0,0,0.05);
}
.r-table tr th:last-child,
.r-table tr td:last-child{
    width: 5rem;
    text-align: center;
}


.r-table .row {
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    opacity: 0.4;
}
.r-table tr:hover td{
    background: rgba(0,0,0,0.02);
}
.r-table .item{
    text-align: left;
}
.r-table .position {
    text-align: center;
    width: 6rem;
}

.r-table .row.focus {
    color: #000;
    opacity: 1;
}

input[type="range"]:focus {

    outline: none !important;
}

.disabled {
    opacity: 0.5;
}

li {
    list-style-type: none;
    list-style-position:inside;
    border-bottom: 1px dashed lightgrey;
}

@keyframes victory {
    0% {background-color: transparent;}
    50% {background-color: rgba(170,255,102,0.5);}
    100% {background-color: transparent;}
}

@keyframes draw {
    0% {background-color: transparent;}
    50% {background-color: rgba(0,0,0,0.1);}
    100% {background-color: transparent;}
}

@keyframes defeat {
    0% {background-color: transparent;}
    50% {background-color: rgba(255,158,158,0.5);}
    100% {background-color: transparent;}
}
