

.replayTable{}
.replayTable:after{
    content: '';
    display: block;
    clear: both;
}

.replay-table-wrap{
    margin-bottom: 8rem;
    float: left;
}
.replay-table-wrap .replay-table-sub-head{
    font-size: 1.6rem;
    font-family: 'Roboto';
    font-weight: normal;
    margin-bottom: 2rem;
}

.replay-table-controls{
    margin-bottom: 2rem;
}
.replay-table-controls:after{
    content: '';
    display: block;
    clear: both;
}
.replay-table-wrap .replay-table-select,
.replay-table-wrap .next,
.replay-table-start-control{
    display: inline-block;
    vertical-align: middle;
}
.replay-table-wrap .pause,
.replay-table-wrap .play,
.replay-table-wrap .previous,
.replay-table-wrap .next,
.replay-table-wrap .replay{
    cursor: pointer;
}

.replay-table-start-control{
    width: 1.6rem;
    height: 1.8rem;
    margin-right: 2rem;
}
.replay-table-wrap .pause,
.replay-table-wrap .pause.disabled:hover{
    width: 1.2rem;
    height: 1.8rem;
    border-right: 0.4rem solid #e9e9e9;
    border-left: 0.4rem solid #e9e9e9;
}
.replay-table-wrap .play,
.replay-table-wrap .play.disabled:hover{
    position: relative;
    top: -3px;
    width: 0;
    height: 0;
    border-top: 1.2rem solid transparent;
    border-left: 1.8rem solid #e9e9e9;
    border-bottom: 1.2rem solid transparent;
}

.replay-table-wrap .previous,
.replay-table-wrap .previous.disabled:hover,
.replay-table-wrap .next,
.replay-table-wrap .next.disabled:hover{
    position: relative;
    display: inline-block;
    vertical-align: middle;

    cursor: pointer;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0;
    border-top: 0.3rem solid  #e9e9e9;
    border-right: 0.3rem solid  #e9e9e9;
    box-sizing: content-box;
}
.replay-table-wrap .previous:hover,
.replay-table-wrap .next:hover{
    border-top: 0.3rem solid #a7a7a7;
    border-right: 0.3rem solid #a7a7a7;
}
.replay-table-wrap .previous{
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-right: 1rem;
}
.replay-table-wrap .next{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.replay-table-wrap .replay-table-select,
.replay-table-wrap .next{
    margin-right: 2rem;
    cursor: pointer;
}
.replay-table-wrap .replay.disabled:hover,
.replay-table-wrap .replay{
    position: relative;
    top: -2px;
    width: 1.6rem;
    height: 2rem;
    border: none;
    background: url("../img/replay.png") no-repeat 0 0 / cover;
    opacity: 0.5;
    margin-right: 1.5rem
}
.replay-table-wrap .replay:hover{
    opacity: 1;
}
.replay-table-wrap .pause.disabled,
.replay-table-wrap .replay.disabled,
.replay-table-wrap .play.disabled,
.replay-table-wrap .previous.disabled,
.replay-table-wrap .next.disabled{
    opacity: 0.5;
    cursor: default !important;
}
.replay-table-wrap .pause:hover{
    border-right: 0.4rem solid #a7a7a7;
    border-left: 0.4rem solid #a7a7a7;
}
.replay-table-wrap .play:hover{
    border-left-color: #a7a7a7;
}


.replay-table-wrap .replay-table-select{
    min-width: 4rem;
    height: 2.8rem;
    background: #fff;
    font-size: 1.6rem;
    border: 2px solid #e9e9e9;
}




.replay-table-wrap .replay-table-check{
    position: relative;
    float: right;
    margin-left: 1rem;
    border: 0.2rem solid #e9e9e9;
    background: #fdfdfd;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    border-radius: 0.4rem;
}
.replay-table-wrap .replay-table-check:after{
    content: '';
    display: block;
    clear: both;
}
.replay-table-check > input{
    opacity: 0;
    display: block;
    border: 1px solid;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
.replay-table-check > label{
    position: relative;
    z-index: 2;
    line-height: 2.4rem;
    padding: 0.5rem 0.8rem;

    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
.replay-table-check > input + label{
    background: transparent;
    color: rgba(0,0,0,0.4);
}
.replay-table-check > input:checked + label {
    color: rgba(0,0,0,0.8);
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
    background: #e9e9e9;
}


.replay-table-controls-left{
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}
.replay-table-progress-wrap{}
.replay-table-progress-wrap .replay-table-progress{
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 0.1rem !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.replay-table-progress-wrap .replay-table-progress[value]::-webkit-progress-value {
    background: #a7a7a7;
}
.replay-table-progress-wrap .replay-table-progress[value]::-webkit-progress-bar {
    background-color: #e9e9e9;
}





.r-table{
    width: 100%;

}
.r-table td{
    padding: 0.6rem 0;
}
.r-table th{
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px double rgba(0,0,0,0.05);
}
.r-table tr th:last-child,
.r-table tr td:last-child{
    width: 5rem;
    text-align: center;
}


.r-table .row {
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    opacity: 0.4;
}
.r-table tr:hover td{
    background: rgba(0,0,0,0.02);
}
.r-table .item{
    text-align: left;
    padding-right: 1rem;
    padding-left: 1rem;
}
.r-table .position {
    text-align: center;
    width: 6rem;
}

.r-table .row.focus {
    color: #000;
    opacity: 1;
}

input[type="range"]:focus {

    outline: none !important;
}

.disabled {
    opacity: 0.5;
}

li {
    list-style-type: none;
    list-style-position:inside;
    border-bottom: 1px dashed lightgrey;
}

.victory {
    background-color: rgba(170,255,102,0.3);
}

.draw {
    background-color: rgba(0,0,0,0.05);
}

.defeat {
    background-color: rgba(255,158,158,0.3);
}

@keyframes victory {
    0% {background-color: transparent;}
    50% {background-color: rgba(170,255,102,0.3);}
    100% {background-color: transparent;}
}

@keyframes draw {
    0% {background-color: transparent;}
    50% {background-color: rgba(0,0,0,0.05);}
    100% {background-color: transparent;}
}

@keyframes defeat {
    0% {background-color: transparent;}
    50% {background-color: rgba(255,158,158,0.3);}
    100% {background-color: transparent;}
}

@keyframes continuous-100 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,1);}
    100% {background-color: transparent;}
}

@keyframes continuous-90 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.9);}
    100% {background-color: transparent;}
}

@keyframes continuous-80 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.8);}
    100% {background-color: transparent;}
}

@keyframes continuous-70 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.7);}
    100% {background-color: transparent;}
}

@keyframes continuous-60 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.6);}
    100% {background-color: transparent;}
}

@keyframes continuous-50 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.5);}
    100% {background-color: transparent;}
}

@keyframes continuous-40 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.4);}
    100% {background-color: transparent;}
}

@keyframes continuous-30 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.3);}
    100% {background-color: transparent;}
}

@keyframes continuous-20 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.2);}
    100% {background-color: transparent;}
}

@keyframes continuous-10 {
    0% {background-color: transparent;}
    50% {background-color: rgba(105,189,36,0.1);}
    100% {background-color: transparent;}
}