/* RESET */
html{overflow-y: scroll;height: 100%;}
body{height: 100%;margin: 0;}
a img{border:none;}
:focus{outline: 0 none;}
h1,h2,h3,h4,h5,h6{margin:0;}
ul{margin:0;padding:0;list-style:none;}
table,th,td{vertical-align:middle;border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
caption, th{text-align:left;font-weight: normal;}
section,article,aside,figure,footer,header,hgroup,nav {display: block;}
header,
section,
div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.eot');
    src: url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.ttf') format('truetype'),
    url('./fonts/Roboto-Regular.svg#pantonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoBold';
    src: url('./fonts/roboto-bold.eot');
    src: url('./fonts/roboto-bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/roboto-bold.woff') format('woff'),
    url('./fonts/roboto-bold.ttf') format('truetype'),
    url('./fonts/roboto-bold.svg#pantonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 5rem 10%;
    font-size: 1.4rem;
    min-width: 980px;
    font-family: 'helvetica', 'arial', sans-serif;
}

h2{
    text-align: left;
    font-family: 'Roboto';
    font-size: 6rem;
    font-weight: normal;
    margin-bottom: 5rem;
    color: #5c328a;
}
a{
    color: #2daae2;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a:hover{
    border-bottom-color: #2daae2;
}




.header{
    padding: 0 0 7rem 0;
    margin-bottom: 5rem;
}
.header .logo{
    display: inline-block;
    vertical-align: bottom;
    width: 20rem;
    height: 5.8rem;
    background: url("img/logo.png") no-repeat 0 0 / 100%;
    margin-right: 5%;
}

.header .main-menu-list{
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
    text-align: right;
    width: calc(94% - 20rem);
}
.header .main-menu-list .menu-item{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5rem;
}
.header .main-menu-list .menu-item a{
    text-align: left;
    font-family: 'RobotoBold';
    font-size: 1.2rem;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #e61578;
}
.header .main-menu-list .menu-item a:hover{
    color: #5c328a;
}

.about{
    margin-bottom: 6rem;
}
.about:after{
    content: '';
    display: block;
    clear: both;
}
.about .side{
    float: left;

}
.about .side:first-of-type{
    padding-right: 6rem;
    width: 40%;
}
.about .side:last-of-type{
    padding-left: 6rem;
    width: 60%;
}
.about .replay-table-wrap{
    float: none;
}
.about .replay-table-wrap .replay{
    transition: transform .3s ease, -webkit-transform .3s ease, -ms-transform .3s ease;
    -webkit-transition: -webkit-transform .3s ease, transform .3s ease;
    -o-transition: -o-transform .3s ease, transfrom .3s ease;
    -ms-transition: -ms-transform .3s ease, transform .3s ease;
    -moz-transition: -moz-transfrom .3s ease, transform .3s ease;
    animation: button-blink 2s linear 1s infinite;
    -webkit-animation: button-blink 2s linear 1s infinite;
    -o-animation: button-blink 2s linear 1s infinite;
    -moz-animation: button-blink 2s linear 1s infinite;
}



@keyframes button-blink {
    5%,30%,50% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -moz-transform: scale(1);
    }
    25%, 45%, 65% {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
}
@-webkit-keyframes button-blink {
    10%, 30%,50% {
        -webkit-transform: scale(1);
    }
    30%, 60% {
        -webkit-transform: scale(1.2);
    }
}
@-o-keyframes button-blink {
    10%, 30%,50% {
        -o-transform: scale(1);
    }
    20%, 40%, 60% {
        -o-transform: scale(1.2);
    }
}
@-ms-keyframes button-blink {
    10%, 30%,50% {
        transform: scale(1);
        -ms-transform: scale(1);
    }
    20%, 40%, 60% {
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
    }
}
@-moz-keyframes button-blink {
    10%, 30%,50% {
        transform: scale(1);
        -moz-transform: scale(1);
    }
    20%, 40%, 60% {
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
}




.howto{
   padding-top: 2rem;
}
.howto p{
    position: relative;
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 200;
    text-decoration: none;
    margin: 0 0 4rem 0;
    color: #000;
}
.howto .step-num{
    position: absolute;
    left: -3rem;
    top: -5rem;
    font-size: 7rem;
    font-family: 'RobotoBold';
    color: #e61578;
    opacity: 0.1;
}
.howto .code-word{
    font-size: 1.8rem;
    padding: 0.2rem 0.3rem;
    background: #e9e9e9;
    font-family: monospace;
    font-weight: 100;
}
.howto code{
    display: block;
    padding: 3rem 4rem;
    background:  rgba(92,50,138,0.05);
    margin-bottom: 4rem;
}


.examples{}
.examples .contents{
    margin-bottom: 5rem;
    padding: 0;
}
.examples ul > li{
    margin-bottom: 0.8rem;
}
.examples ul > li > ul {
    padding-left: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.2rem;
}
.examples{}
.examples p{
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 200;
    text-decoration: none;
    margin: 0 0 2rem 0;
    color: #000;
}

.examples h3{
    position: relative;
    font-family: 'Roboto';
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 5rem;
}

.examples .two-side-content{
    display: table;
}
.examples .two-side-content:after{
    content: '';
    display: block;
    clear: both;
}
.examples .side{
    /*float: left;*/
    display: table-cell;
}
.examples .side:first-of-type{
    padding-right: 6rem;
    width: 50%;
}
.examples .side:last-of-type{
    padding-left: 6rem;
    width: 50%;
}
.examples code{
    display: block;
    padding: 3rem 4rem;
    background:  rgba(92,50,138,0.05);
    margin-bottom: 4rem;
    font-size: 1.6rem;
    line-height: 1.6;
    height: calc(100% - 5rem);
}
.examples .replayTable table{
    width: 100% !important;
}
.examples .replayTable .replay-table-wrap{
    float: none;
}

.examples h3 a{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    background: url("img/link.svg") no-repeat 0 0 / 100%;
    opacity: 0.3;
    border-bottom: none;
}
.examples h3 a:hover{
    opacity: 0.6;
}

.examples  a.category{
    margin-bottom: 1.5rem;
    white-space: nowrap;
    background: none;
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.1rem;
    font-family: 'RobotoBold', 'Roboto';
    text-transform: uppercase;
    color: #e61578;
}
.examples  a.category:hover{
    border-bottom-color: #e61578;
}