/* RESET */
html{overflow-y: scroll;height: 100%;}
body{height: 100%;margin: 0;}
a img{border:none;}
:focus{outline: 0 none;}
h1,h2,h3,h4,h5,h6{margin:0;}
ul{margin:0;padding:0;list-style:none;}
table,th,td{vertical-align:middle;border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
caption, th{text-align:left;font-weight: normal;}
section,article,aside,figure,footer,header,hgroup,nav {display: block;}
header,
section,
div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.eot');
    src: url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.ttf') format('truetype'),
    url('./fonts/Roboto-Regular.svg#pantonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 5rem calc(50% - 56rem);
    font-size: 1.4rem;
    font-family: 'helvetica', 'arial', sans-serif;
}

h2{
    text-align: left;
    font-family: 'Roboto';
    font-size: 4.2rem;
    font-weight: normal;
    margin-bottom: 5rem;
}