/* RESET */
html{overflow-y: scroll;height: 100%;}
body{height: 100%;margin: 0;}
a img{border:none;}
:focus{outline: 0 none;}
h1,h2,h3,h4,h5,h6{margin:0;}
ul{margin:0;padding:0;list-style:none;}
table,th,td{vertical-align:middle;border-collapse:collapse;border-spacing:0;margin:0;padding:0;}
caption, th{text-align:left;font-weight: normal;}
section,article,aside,figure,footer,header,hgroup,nav {display: block;}
header,
section,
div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.eot');
    src: url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.ttf') format('truetype'),
    url('./fonts/Roboto-Regular.svg#pantonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 5rem 10%;
    font-size: 1.4rem;
    font-family: 'helvetica', 'arial', sans-serif;
}

h2{
    text-align: left;
    font-family: 'Roboto';
    font-size: 3.2rem;
    font-weight: normal;
    margin-bottom: 5rem;
}





.header{
    padding: 3rem 0;
    margin-bottom: 5rem;
}
.header .logo{
    display: inline-block;
    vertical-align: bottom;
    width: 20rem;
    height: 6.5rem;
    background: url("img/logo2.png") no-repeat 0 0 / 100%;
    margin-right: 5%;
}

.header .main-menu-list{
    display: inline-block;
    vertical-align: bottom;
    white-space: nowrap;
}
.header .main-menu-list .menu-item{
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5rem;
}
.header .main-menu-list .menu-item a{
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}


.about{
    margin-bottom: 6rem;
}
.about:after{
    content: '';
    display: block;
    clear: both;
}
.about .about-pic,
.about .maintext{
    float: left;
    width: 50%;
}

.about .maintext{
    padding: 15rem 10rem 0 6rem;
    font-family: 'Roboto';
    font-size: 4.4rem;
    line-height: 1.3;
    font-weight: 100;
    text-decoration: none;
    text-align: right;
    color: #000;
}


.howto{
    margin-bottom: 10rem;
}
.howto p{
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 200;
    text-decoration: none;
    margin: 0 0 2rem 0;
    color: #000;
}
.howto .code-word{
    font-size: 1.8rem;
    padding: 0.2rem 0.3rem;
    background: #e9e9e9;
    font-family: monospace;
    font-weight: 100;
}
.howto code{
    display: block;
    padding: 3rem 4rem;
    background:  #e9e9e9;
    margin-bottom: 2rem;
}


.examples{}
.examples p{
    text-align: left;
    font-family: 'Roboto';
    font-size: 1.6rem;
    line-height: 1.6;
    font-weight: 200;
    text-decoration: none;
    margin: 0 0 5rem 0;
    color: #000;
}

.examples h3{
    position: relative;
    text-align: center;
    font-family: 'Roboto';
    font-size: 2.2rem;
    font-weight: normal;
    margin-bottom: 5rem;
}
.examples .replayTable table{
    width: 100% !important;
}
.examples .replayTable .replay-table-wrap{
    float: none;
}

.examples h3 a{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
    background: url("img/link.svg") no-repeat 0 0 / 100%;
    opacity: 0.3;
}
.examples h3 a:hover{
    opacity: 0.6;
}